<h1>Log In</h1>
<%= form_tag( '/sessions', method: 'post') do %>
    <p>Username: <%= text_field_tag (:username) %></p>
    <p>Password: <%= password_field_tag (:password) %></p>
    <p> <%= submit_tag (value = 'Log In') %> </p>
<% end %>