<section id="landing" class="main-section">
  <p>Un solo lugar para manejar tus transacciones.</p>
</section>
<section id="area2" class="main-section">
2
</section>
<section id="area3" class="main-section">
3
</section>
<section id="cuarta" class="main-section">
4
</section>