@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Sarabun');

/**** MOBILE FIRST DESIGN = 320px ****/
/*Initial rules*/
/*General*/

:root {
    --nkBlue: #66bbd3;
    --nkRed: #ff3c00;
  }
  
  *::before, *::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }
  
  html, body {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: 'Sarabun', sans-serif;
    font-weight: 300;
  }

  .logo {
    margin-top: 10px;
    padding-left: 45px;
    padding-top: 10 px;
  }
  
  .logo img {
    height: 65px;
  }

  .title {
    display: none;
  }

  /* Navegation bar */
.menu-toggle header,
.menu-toggle input,
.menu-toggle .version,
.menu-toggle ul,
.separator span{
  display: none; 
}
.nav-toggle:checked ~ header,
.nav-toggle:checked ~ ul,
.nav-toggle:checked ~ .version,
.nav-toggle:checked ~ .search-box input,
.nav-toggle:checked ~ .separator span{
  display: block; 
}
.menu-toggle header {
  position: absolute;
  top:80px;
  width: 218px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 1em;
  font-size: 1.2em;
  font-weight: 600;
  color: #DDDDDD;
  background:red;
}
.menu-toggle header::after{
  content: '';
  position: absolute;
  top:.0em;
  bottom: 0em;
  left: 100%;
  width: 100%;
  background: rgb(172, 24, 24);
  margin: 0px;

}/*Area del menu sombreada*/
.menu-toggle ul{
  position: absolute;
  width: 300px;
  top:121px;
  height: 85vh;
  z-index:2;
}
.menu-toggle ul::before{
  content: '';
  position: absolute;
  top:.0em;
  bottom: -.15em;
  left: 100%;
  width: 11.5rem;
  background: rgba(201, 0, 0, 0.35);
  z-index:2;
}
.menu-toggle ul::after{
  content: '';
  position: absolute;
  top:350px;
  bottom: 85%;
  height: .5px;
  width: 240px;

}/*Ãrea del menu hamburguesa */
.nav-toggle-label{
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 1.8em;
  height: 72px;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  display: block;
  background: var(--nkBlue);
  height: 4.5px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  content: '';
  position: absolute;
}
.nav-toggle-label span::before{
  bottom: 8px;
}
.nav-toggle-label span::after{
  top: 8px;
}
#menu{
  list-style: none;
  margin: 0px;
  padding: 85px 0 0 0 ;
  line-height: .9em;
  background: whitesmoke;
}
#menu li{
  padding-top: .8em;
  padding-left: 1.3em;
  padding-bottom: .7em;
}
#menu li:hover, 
#menu li:hover > a {
  background: #DDDDDD;
  color: #FF851B;
}
#menu li a:hover, 
#menu li.active a{
  background: #DDDDDD;
  color: #FF851B;
}
.nav-link{
  text-decoration: none;
  font-size: 1em;
  color:#111111;
}

.separator span{
  position: absolute;
  top:545px;
  z-index: 25;
  padding-left: 1em;
  border-top: .5px solid #d3d3d3;
  padding-top: 5px;
  width: 245px;
  margin:0 .5em 0 .5em;
  color: #303030;
  text-align: center;
}